Brewfile.lock.json
config/nvim/autoload/
config/nvim/plugged/
config/zsh/.zsh_history
config/zsh/.zshcompdump
config/zsh/.zsh_sessions
config/zsh/.zsh_local
config/coc/suggest.txt
config/coc/extensions/node_modules/*
